
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://codeit.codes/fonts/Inter/Inter.var.woff2') format('woff2');
  font-named-instance: 'Regular';
}


html {
  height: 100%;
  background: #1a1c24;
  color: #d4d5d7;
  font-family: 'Inter', system-ui, sans-serif;
  text-align: center;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  max-width: 500px;
  margin: auto;
  padding: 0 20px;
}

.logo {
  width: 70px;
  border-radius: 22.5%;
  border: 1px solid rgba(255, 255, 255, .1);
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 50px;
}

.title {
  margin-top: 0;
  position: relative;
  text-align: center;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 21px;
}

p {
  white-space: break-spaces;
  line-height: 1.5;
}

.sidebar .button {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  min-height: 40px;
  white-space: nowrap;
  font-size: 16px;
  padding: 7px 84px;
  height: 50px;
  width: 233px;
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
}

body.mobile .sidebar .button {
  transition: .1s var(--ease-function);
  transition-property: background, color, box-shadow;
}

.sidebar .button.secondary {
  background: hsl(223deg 88% 52%);
  color: #fff;
}

.sidebar .button.secondary:active {
  color: rgba(255,255,255,0.25);
  background: hsla(223deg 88% 52% / 50%) !important;
  transition: none;
}

.sidebar .button.teritary {
  background: transparent;
  color: hsl(220deg 4% 84% / 92%);
  box-shadow: inset 0 0 0 1px hsl(228deg 16% 37%);
}

.sidebar .button.teritary:active {
  color: hsl(220deg 4% 84% / 25%);
  background: transparent !important;
  box-shadow: inset 0 0 0 1px hsl(228deg 16% 37% / 50%);
  transition: none;
}

.sidebar .button svg {
  margin-right: var(--spacing-1);
}

a {
  text-decoration: none;
  color: hsl(223deg 86% 73%);
}

a:hover {
  text-decoration: underline;
}


body {
  --spacing-1: 7px;
  --ease-function: cubic-bezier(0.32, 0.08, 0.24, 1);
}

html, body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  touch-action: manipulation;
  overscroll-behavior: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

